
/*-------------------------------*/
/*          map                  */
/*-------------------------------*/
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}


#mapid{ 
    z-index: -1;
    position: absolute;
    top : 0;
    left: 0;
    height: 100%; 
    width: 100%;
    }


#teamListContianer , #missionContainer,#addTeamContainer{
    z-index: 40;    
    position: absolute;
    width: 99%;
    height: 99%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    
    text-align:center;
}

